/* BASE */
body {
    padding-top: 70px; /* Body padding required for fixed navbar */
}

.navbar-brand {
    font-weight: bold;
}

#searchbox {
    width: 250px;
}

/* HOMEPAGE */
.jumbotron {
    background-image: url("/static/img/silverware-on-table.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -20px;
    padding-top: 200px;
}

.jumbotron h1 {
    color: #FFFFFF;
}

#features {
    margin-bottom: 50px;
    margin-top: 0;
}

/* USER PROFILE */
hr {
    margin-bottom: 0;
}

h2 {
    margin-top: 20px;
    margin-bottom: 20px;
}

h1, h3 {
    margin-top: 10px;
}

#restaurant-marker {
    width: 14px;
}

.media-object {
    width: 70px;
}

.media-body p {
    font-size: 11px;
    margin-bottom: 0;
}

#map {
    border-radius: 0.75%;
    height: 565px;
}

/* RESTAURANT LIST */
#restaurant-list .list-group-item {
    border-radius: 0;
    border: 0;
}

#restaurant-list .media-body p {
    font-size: 14px;
}

/* RESTAURANT PROFILE */
#restaurant-profile-pic img {
    width: 150px;
}

/*#restaurant-friends {
    text-align: center;
}*/
/*TODO: Figure out how to center-align text under restaurant friends thumbnail photo*/

#user-profile-pic-sm img {
    width: 100px;
}

/* FOOTER */
.footer {
    background-color: #F8F8F8;
    bottom: 0;
    padding-top: 10px;
    width: 100%;
}