<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1"> 

  <title>Breadcrumbs || {% block title %} put title here {% endblock %}</title>

  <!-- Bootstrap -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles -->
  <link href="static/css/styles.css" rel="stylesheet">

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

  {% block head %} put styles/javascripts here FOR NOW {% endblock %}
</head>

<body>
  <h1>Breadcrumbs</h1>

  <a href="/">Homepage</a>
  <a href="/restaurants">Restaurants</a>
  <a href="/users">Users</a>

  {% if session.get('current_user') %}
    <br>
    <br>
    <!-- Searchbox feature for restaurants -->
    <form action="/search">
      <!-- Source for invisible label for accessibility: http://webaim.org/techniques/forms/advanced -->
      <input id="searchbox" type="search" name="q" aria-label="Find Restaurant" placeholder="Find restaurant">
      <input type="submit" value="Search">
    </form>
    <br>
    <a href="/users/{{ session.current_user.user_id }}">User Profile</a>
    <a href="/friends">Friends</a>
    <a href="/logout">Log out</a>

  {% else %}

    <a href="/signup">Sign up</a>
    <a href="/login">Log in</a>

    <!-- Think about user flow if want to implement login form in nav bar -->
    <!-- <form action="/login" method="POST">
      <label for="email">Email Address:</label>
      <input id="email" type="text" name="login_email">
      <label for="password">Password:</label>
      <input id="password" type="text" name="login_password">
      <input type="submit" value="Login">
    </form> -->
    
  {% endif %} 

  <hr>

  <!-- Display flash messages -->
  {% with messages = get_flashed_messages() %}
    {% for message in messages %}
      {{ message }}
    {% endfor %}
  {% endwith %}

  {% block content %} put content here {% endblock %}

  <div class="footer">
    Breadcrumbs &copy; 2016
  </div>

  <!-- Placed at the end of the document so the pages load faster -->
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

</body>
</html>