<!doctype html>
<html>
<head>
  <title>Breadcrumbs || {% block title %} put title here {% endblock %}</title>
  {% block head %} put styles/javascripts here FOR NOW {% endblock %}
</head>

<body>
    <h1>Breadcrumbs</h1>
    <p>
      <a href="/">Homepage</a>
      <a href="/restaurants">Restaurants</a>
      <a href="/users">Users</a>
    </p>
    <p>
      {% if session.get('current_user') %}
        <a href="/logout">Log out</a>

      {% else %}
        <a href="/signup">Sign up</a> | 

        <form action="/login" method="POST">
            <label for="email">Email Address:</label>
            <input id="email" type="text" name="login_email">
            <label for="password">Password:</label>
            <input id="password" type="text" name="login_password">
            <input type="submit" value="Login">
        </form>

      {% endif %}
    <hr>

    <!-- Display flash messages -->
    {% with messages = get_flashed_messages() %}
      {% for message in messages %}
          {{ message }}
      {% endfor %}
    {% endwith %}

    {% block content %} put content here {% endblock %}

</body>
</html>