{% extends 'base.html' %}

{% block title %}Friends{% endblock %}

{% block head %}{% endblock %}

{% block content %}

  <h2>Friend Requests</h2>

  <h3>Received</h3>
  <div>
    {% if received_friend_requests %}

      {% for friend_request in received_friend_requests %}
        <div>
          <a href="users/{{ friend_request.user_a.user_id }}">{{ friend_request.user_a.first_name }} {{ friend_request.user_a.last_name }}</a>
          <br>
          <button type="button" id="accepted-btn">Accept</button>
          <button type="button" id="deleted-btn">Delete</button>
        </div>
      {% endfor %}

    {% else %}
      <div>
        No pending Friend Requests for you.
      </div>
    {% endif %}
  </div>

  <h3>Sent</h3>

  <div>
    {% if sent_friend_requests %}

      {% for friend_request in sent_friend_requests %}
        <div>
          <a href="users/{{ friend_request.user_b.user_id }}">{{ friend_request.user_b.first_name }} {{ friend_request.user_b.last_name }}</a>
          <br>
          <button type="button" id="cancel-btn">Cancel</button>
        </div>
      {% endfor %}

    {% else %}
      <div>
        No pending Friend Requests from you.
      </div>
    {% endif %}

  </div>

  <h2>My Friends</h2>

  <div>
    {% if friends %}

      {% for friend in friends %}
        <div>
          <a href="users/{{ friend.user_b.user_id }}">{{ friend.user_b.first_name }} {{ friend.user_b.last_name}}</a>
          <br>
          <button type="button" id="unfriend-btn">Unfriend</button>
        </div>
      {% endfor %}

    {% else %}
      <div>
        You have no friends.
      </div>
    {% endif %}
</div>

{% endblock %}