{% extends 'base.html' %}

{% block title %}Friends{% endblock %}

{% block head %}{% endblock %}

{% block content %}

  <h2>Friend Requests</h2>

  <h3>Received</h3>
  <div>
    {% if received_friend_requests %}

      {% for received_friend_request in received_friend_requests %}
        <div>
          <a href="users/{{ received_friend_request.user_id }}">{{ received_friend_request.first_name }} {{ received_friend_request.last_name }}</a>
          <br>
          <button type="button" id="accepted-btn">Accept</button>
          <button type="button" id="deleted-btn">Delete</button>
        </div>
      {% endfor %}

    {% else %}
      <div>
        No pending Friend Requests for you.
      </div>
    {% endif %}
  </div>

  <h3>Sent</h3>

  <div>
    {% if sent_friend_requests %}

      {% for sent_friend_request in sent_friend_requests %}
        <div>
          <a href="users/{{ sent_friend_request.user_id }}">{{ sent_friend_request.first_name }} {{ sent_friend_request.last_name }}</a>
          <br>
          <button type="button" id="cancel-btn">Cancel</button>
        </div>
      {% endfor %}

    {% else %}
      <div>
        No pending Friend Requests from you.
      </div>
    {% endif %}

  </div>

  <h2>My Friends</h2>

  <div>
    {% if friends %}

      {% for friend in friends %}
        <div>
          <a href="users/{{ friend.user_id }}">{{ friend.first_name }} {{ friend.last_name}}</a>
          <br>
          <button type="button" id="unfriend-btn">Unfriend</button>
        </div>
      {% endfor %}

    {% else %}
      <div>
        You have no friends.
      </div>
    {% endif %}
</div>

{% endblock %}