{% extends 'base.html' %}

{% block title %}Homepage{% endblock %}

{% block content %}
  <div class="jumbotron" id="cover">
    <div class="container">
      <h1>breadcrumbs</h1>
      <p class="site-description indent">
        The ultimate social media network for foodies.
        <br>
        Remember where you've been and what you've eaten!
      </p>
      <p class="indent">
        <a class="btn btn-primary btn-lg btn-homepage btn-font" href="/signup" role="button"><span class="fa fa-user-plus" aria-hidden="true"></span> Sign up</a>
        <a class="btn btn-primary btn-lg btn-homepage btn-font" href="/login" role="button"><span class="fa fa-sign-in" aria-hidden="true"></span> Login</a>
      </p>
    </div><!-- /.container -->
  </div><!-- /.jumbotron -->

  <div class="container" id="features-section">
    <h2>Features</h2>
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <span class="fa-stack fa-3x features-icon">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-plus fa-stack-1x fa-inverse"></i>
        </span>
        <!-- <span class="fa fa-plus fa-3x fa-border" aria-hidden="true"></span> -->
        <h3>Track Restaurants</h3>
        <p>Add a restaurant visit, leaving a trail of breadcrumbs for your restaurant history.</p>
      </div>
      <div class="col-xs-12 col-md-4">
        <span class="fa-stack fa-3x features-icon">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-camera fa-stack-1x fa-inverse"></i>
        </span>
        <h3>Upload Food Photos</h3>
        <p>Upload your food pictures for each restaurant visit and leave comments, to remember what tasted good.</p>
      </div>
      <div class="col-xs-12 col-md-4">
        <span class="fa-stack fa-3x features-icon">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-users fa-stack-1x fa-inverse"></i>
        </span>
        <h3>Connect With Friends</h3>
        <p>Connect with your friends to see what restaurants they visited and what they ate.</p>
      </div>
    </div><!-- /.row -->
  </div><!-- /.container -->
{% endblock %}