{% extends 'base.html' %}

{% block title %}Homepage{% endblock %}

{% block head %}{% endblock %}

{% block content %}
    <div>
        <p>Leave a trail of breadcrumbs, tracking your restaurant history. Know where you've been and what you've ate! Connect with friends to see what restaurants they've visited and what they've ate. This is the social media network for foodies.</p>
    </div>

    <div>
        <h2>Login</h2>

        <form action="/login" method="POST">
            <label for="email">Email Address:</label>
            <input id="email" type="text" name="login_email">
            <br>
            <label for="password">Password:</label>
            <input id="password" type="text" name="login_password">
            <br>
            <input type="submit" value="Login">
        </form>
        
        <p>Don't have an account? <a href="/signup">Sign up here</a>
    </div>

{% endblock %}