{% extends 'base.html' %}

{% block title %}Restaurant: {{ restaurant.name }}{% endblock %}

{% block head %}
  <script src="https://code.jquery.com/jquery.js"></script>
{% endblock %}

{% block content %}

  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-2"  id="restaurant-profile-pic">
        {% if restaurant.image_url %}
          <img class="img-responsive img-rounded" src="{{ restaurant.image_url }}" alt="Image for {{ restaurant.name }}">
        {% else %}
          <img class="img-responsive img-rounded" src="http://placehold.it/150x150?text=No+Image+Available" alt="No image available for {{ restaurant.name }}">
        {% endif %}
      </div><!-- /.col -->
      <div class="col-xs-12 col-md-10">
        <h1>{{ restaurant.name }}</h1>
        <p>
          <span class="fa fa-globe" aria-hidden="true"></span> {{ restaurant.city.name }}<br>
          <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> {{ restaurant.address }}<br>
          <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> {{ restaurant.phone }}<br>
          <!-- Button to add restaurant visit to user's restaurant history -->
          <!-- This is a regular form submit with hidden input -->
          <form id="add-visit" action="/add-visit" method="post">
            <input type="hidden" name="restaurant_id" value="{{ restaurant.restaurant_id }}">
            <button type="submit" class="btn btn-default"><img src="/static/img/restaurant-marker.png" id="restaurant-marker"> Leave a Breadcrumb</button>
          </form>
        </p>
      </div><!-- /.col -->
    </div><!-- /.row -->
    <hr>
    <div class="row">
      <h2>Friends Who Left A Breadcrumb</h2>
      {% if friends_who_visited %}
        {% for friend in friends_who_visited %}
          <div class="col-xs-6 col-sm-2" id="restaurant-friends">
            <a href="/users/{{ friend.user_id }}">
              <img class="img-circle img-responsive" src="http://placehold.it/150x150?text=Friends+Profile+Picture">
              <br>
              {{ friend.first_name }} {{ friend.last_name }}
            </a>
          </div><!-- /.col -->
        {% endfor %}
      {% else %}
        <p>None of your friends have left a breadcrumb for this restaurant.</p>
      {% endif %}
    </div><!-- /.row -->
    <hr>
    <div class="row">
      <h2>Food Pictures</h2>
      <p>No pictures available yet.</p>
    </div>
  </div><!-- /.container -->
  

{% endblock %}