{% extends 'base.html' %}

{% block title %}Sign Up{% endblock %}

{% block head %}
<style>
    .disclaimer {
        font-size: 75%;
    }
</style>
{% endblock %}

{% block content %}

    <h2>Sign up</h2>

    <form action="/signup" method="post">
        <label for="firstname">First Name:</label>
        <input id="firstname" type="text" name="first_name" placeholder="John">
        <br>
        <label for="lastname">Last Name:</label>
        <input id="lastname" type="text" name="last_name" placeholder="Doe">
        <br>
        <label for="city">Select your city:</label>
        <select id="city" name="city">
            <option value="Sunnyvale">Sunnyvale</option>
        </select>
        <br>
        <span class="disclaimer">* Don't see your city? Breadcrumbs is only available for these cities at the moment. Please come back and sign up when the service is available in your city!</span>
        <br>
        <label for="email">Email Address:</label>
        <input id="email" type="text" name="signup_email" placeholder="example@gmail.com">
        <br>
        <label for="password">Password:</label>
        <input id="password" type="text" name="signup_password" placeholder="Password">
        <br>
        <input type="submit" value="Sign up">
    </form>

    <p>Already have an account? <a href="/login">Login here</a>

{% endblock %}