{% extends 'base.html' %}

{% block title %}User: {{ user.user_id }}{% endblock %}

{% block content %}

  <div class="container" id="user-info" data-userid="{{ user.user_id }}">
    <div class="row">
      <div class="col-xs-12 col-md-2">
        <img class="img-circle img-responsive" src="/static/img/profile-avatar.png">
      </div>
      <div class="col-xs-12 col-md-10">
        <h1>{{ user.first_name }} {{ user.last_name }}</h1>
        <p>
          <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> Location: {{ user.city.name }}
          <br>
          <img src="/static/img/restaurant-marker.png" id="restaurant-marker"> Breadcrumbs: {{ total_breadcrumbs }}
        </p>
        {% if session.current_user.user_id != user.user_id %}
          <p>
            {% if friends %}
              <button type="button" id="accepted-btn" disabled="true">Friends</button>
            {% elif pending_request %}
              <button type="button" id="requested-btn" disabled="true">Request Pending</button>
            {% else %}
              <form id="add-friend-form" action="/add-friend" method="post">
                <input type="submit" value="Add Friend" id="add-friend-btn">
              </form>
            {% endif %}
          </p>
        {% endif %}
      </div>
    </div><!-- /.row -->
    <hr>
    <div class="row">
      <h2>Breadcrumbs</h2>
      <div class="col-xs-12 col-md-8" id="map">
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="panel panel-default">
          <!-- Default panel contents -->
          <div class="panel-heading">
            <h3>Recent Trail</h3>
          </div>

          <!-- List group -->
          {% if recent_breadcrumbs %}
            <div class="list-group">
              {% for visit in recent_breadcrumbs %}
                <a href="/restaurants/{{ visit.restaurant.restaurant_id }}" class="list-group-item">
                  <div class="media">
                    <div class="media-left">
                      <img class="media-object" src="{{ visit.restaurant.image_url }}" alt="Image for {{ visit.restaurant.name }}">
                    </div>
                    <div class="media-body">
                      <h4 class="media-heading">{{ visit.restaurant.name }}</h4>
                      <p>
                        <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> {{ visit.restaurant.address }}
                        <br>
                        <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> {{ visit.restaurant.phone }}
                      </p>
                    </div>
                  </div>
                </a>
              {% endfor %}
                <a href="#" class="list-group-item">See rest of breadcrumbs trail</a>
            </div>
          {% else %}
            <ul class="list-group">
              <li class="list-group-item">No breadcrumbs left yet.</li>
            </ul>
          {% endif %}
        </div><!-- /.panel -->
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container -->

  <script src="/static/js/add-friend.js"></script>

  <!-- Google Maps API -->
  <script async defer src="https://maps.googleapis.com/maps/api/js?v=3.exp&callback=initMap"></script>
  <script src="/static/js/breadcrumbs-map.js"></script>

{% endblock %}