{% extends 'base.html' %}

{% block title %}User: {{ user.user_id }}{% endblock %}

{% block head %}
  <style>
    /*html, body {
      height: 100%;
      margin: 0;
      padding: 0;
    }
    #map {
      height: 80%;
    }*/
  </style>
<!-- 
  <script src="https://code.jquery.com/jquery.js"></script> 
   -->
  
{% endblock %}

{% block content %}

  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-2">
        <img class="img-circle img-responsive" src="http://placehold.it/150x150?text=Profile+Picture">
      </div>
      <div class="col-xs-12 col-md-10">
        <h1>{{ user.first_name }} {{ user.last_name }}</h1>
        <p><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> {{ user.city.name }}</p>
          {% if session.current_user.user_id != user.user_id %}
          <p>
            {% if friends %}
              <button type="button" id="accepted-btn" disabled="true">Friends</button>
            {% elif pending_request %}
              <button type="button" id="requested-btn" disabled="true">Request Pending</button>
            {% else %}
              <form id="add-friend-form" action="/add-friend" data-userid="{{ user.user_id }}" method="post">
                <input type="submit" value="Add Friend" id="add-friend-btn">
              </form>
            {% endif %}
          </p>
          {% endif %}
      </div>
    </div><!-- /.row -->
    <hr>
    <div class="row">
      <h2>Breadcrumbs</h2>
      <div class="col-xs-12 col-md-8" id="map">
      </div>
      <div class="col-xs-12 col-md-4">
        <h3>Recent Breadcrumbs</h3>

      </div>
    </div><!-- /.row -->
  </div><!-- /.container -->

  <script src="/static/js/add-friend.js"></script>

  <!-- Google Maps API -->
  <script async defer src="https://maps.googleapis.com/maps/api/js?v=3.exp&callback=initMap"></script>
  <script src="/static/js/breadcrumbs-map.js"></script>

{% endblock %}